<configuration>
	<connectionStrings>
		<add name="MySqlCon"
			 connectionString="server=localhost;user id=root;password=2002;database=vishakha"
			 providerName="MySql.Data.MySqlClient" />		
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
	</system.web>
</configuration>